* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-color: white;
    
}
#nav {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-right: 20px;
}
#nav h4 {
    font-size: 12px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    transition: background-color 0.3s ease; 
}
#nav h4:hover {
    background-color: rgba(234, 231, 231, 0.6); /* Adjust this color to your preference */
    border-radius: 5px; /* Optional: add rounded corners */
    padding: 5px; /* Optional: add some padding to improve the appearance */
}
#nav i {
    font-size: 15px;
    font-weight: 300;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
#main-content {
    width: 90vw;
    padding: 30px;
    padding-left: 70px;
}
#main-content h1 {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 4.3vw;
}
#center-content {
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
}
#center-content p {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(40, 36, 36, 0.851);
}
#right {
    width: 20%;
}
.elem {
    border-top: 1px solid black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.elem a {
    color: black;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.elem i {
    font-weight: 500;
    font-size: 15px;
    opacity: 0;
}
.elem:hover i {
    opacity: 1;
}
.elem:hover {
    background-color: rgb(234, 231, 231);
}
.elem:hover a {
    text-decoration: underline;
}
#bottom-img{
    height:26%;
    width:100%;
    background-image:url(https://images.unsplash.com/photo-1590649880765-91b1956b8276?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color:red;
    background-size:cover;
    background-position:0 28%;
}
